# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/MiMo-API-400-Fix
.opencode/skills/ui-ux-pro-max/data/charts.csv
.opencode/skills/ui-ux-pro-max/data/colors.csv
.opencode/skills/ui-ux-pro-max/data/icons.csv
.opencode/skills/ui-ux-pro-max/data/landing.csv
.opencode/skills/ui-ux-pro-max/data/products.csv
.opencode/skills/ui-ux-pro-max/data/react-performance.csv
.opencode/skills/ui-ux-pro-max/data/stacks/astro.csv
.opencode/skills/ui-ux-pro-max/data/stacks/flutter.csv
.opencode/skills/ui-ux-pro-max/data/stacks/html-tailwind.csv
.opencode/skills/ui-ux-pro-max/data/stacks/jetpack-compose.csv
.opencode/skills/ui-ux-pro-max/data/stacks/nextjs.csv
.opencode/skills/ui-ux-pro-max/data/stacks/nuxt-ui.csv
.opencode/skills/ui-ux-pro-max/data/stacks/nuxtjs.csv
.opencode/skills/ui-ux-pro-max/data/stacks/react-native.csv
.opencode/skills/ui-ux-pro-max/data/stacks/react.csv
.opencode/skills/ui-ux-pro-max/data/stacks/shadcn.csv
.opencode/skills/ui-ux-pro-max/data/stacks/svelte.csv
.opencode/skills/ui-ux-pro-max/data/stacks/swiftui.csv
.opencode/skills/ui-ux-pro-max/data/stacks/vue.csv
.opencode/skills/ui-ux-pro-max/data/styles.csv
.opencode/skills/ui-ux-pro-max/data/typography.csv
.opencode/skills/ui-ux-pro-max/data/ui-reasoning.csv
.opencode/skills/ui-ux-pro-max/data/ux-guidelines.csv
.opencode/skills/ui-ux-pro-max/data/web-interface.csv
.opencode/skills/ui-ux-pro-max/scripts/core.py
.opencode/skills/ui-ux-pro-max/scripts/design_system.py
.opencode/skills/ui-ux-pro-max/scripts/search.py
.opencode/skills/ui-ux-pro-max/SKILL.md
